* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.text-left {
    text-align: left;
}

.text-right { 
    text-align: right;
}

header a {
    text-decoration: none;
    color:#fce138;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header nav {
    margin: 7PX 0;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("C:users/brean/projects/run-buddy2/assests/images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/*Hero Style End*/


.hero-form {
    background-color: #fce138;
    padding: 20px;
    width: 450px;;
    color: #024e76;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
    
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form h3{
    font-size: 24px;
    margin: 0;
}

.form-input {
    border: 1px splid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0;
}

.hero-form button {
    color:#fce138;
    background-color: #024e76;
    padding: 10px 20px;
    font-size: 16px;
}

.intro {
    text-align: center;
}


.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width:80%;
    font-size: 20px;
    margin: 0 auto;
}

.steps {
    text-align: center;
    background: #fce138;
}
.steps h2 {
   border-bottom-color: #39a6b2;
}

.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.steps p {
    color: #39a6b2;
    font-size: 23px;
}

.steps span {
    font-size: 3px;
}

.trainers {
    text-align: center;
    border-bottom: 3px solid #fce138;
    margin-left: 120px;
}

.trainer {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    overflow: auto;
}

.trainer img {
    width: 35%;
    float: left;
}

.trainer-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}


.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid #fce138;
    text-align: center;
}

#reach-out {
    text-align: center;
    border-bottom: 3px solid #39a6b2;
    background-color: #024e76;
}

#reach-out h2 {
    color: #fce138;
}
.primary-border {
    border-color: #fce138;
    display: inline-block;
}

.secondary-border {
    border-color: #39a6b2;
    display: inline-block;
}

.contact-info iframe {
    width: 350px;
    height: 350px;
}

.contact-info {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0px 60px 0px;
    color: white;
}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a {
    color: #fce138;
}